.page-header
  .background
    img(src=theme.page_background)
    .social.top-right
      a(href="https://linkedin.com/in/morganengel") LinkedIn
  .author
    .head
      a(href=url_for('/'))
        img(src=theme.author.head)
    h3.name #{config.author}
    p.signature #{theme.author.signature}